// Gloabl CSS
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;

}

body {
    background: #4a7f63;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}



.flex {
    display: flex;
}

header {
    justify-content: space-around;
    background: #1D1D1D;
    height: 55px;

    .logo {
        width: 300px;
        padding: 6px;

        a {
            font-family: 'Smooch', cursive;
            font-size: 34px;
            letter-spacing: 2px;
        }

    }

    .nav-items {
        padding: 15px;

        ul {
            li {
                a {
                    color: #FF0000;
                    font-size: 20px;
                    letter-spacing: 2.5px;
                    margin: 0 10px;
                    font-weight: 900;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 5px;
                    font-family: 'Bebas Neue', cursive;

                    &:hover {
                        border-bottom: 1px solid #950101;
                    }
                }
            }
        }
    }
}

.homesection::before {
    content: '';
    background: url(./images/background.jpg);
    width: 100%;
    height: 85vh;
    position: absolute;
    left: 0;
    z-index: -1;
    background-size: cover;
}


.homesection {
    height: 707px;
    // background: #3D0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 245px;

    h2 {
        color: #950101;
        font-size: 85px;
    }

    h1 {
        color: #950101;
        font-size: 74px;
    }

    p {
        color: #950101;
        letter-spacing: 1.2px;
        font-weight: 600;
    }

    .home-btn {
        background: #000000;
        width: 95px;
        height: 30px;
        padding: 6px;
        border-radius: 3px;
        margin-top: 24px;
        font-weight: 900;
        letter-spacing: 1.2px;

        &:hover {
            transform: scale(1.1);
            transition: 600ms;
        }

        a {
            color: #41576B;

            &:hover {
                color: #FF0000;

            }
        }
    }

}



.projects {
    align-items: center;
    width: 100%;
    height: 700px;
    flex-direction: column;

    h2 {
        padding: 49px 0px;
        font-size: 39px;
        color: #950101;
    }

    .sharingan {
        .sharingan-home {
            justify-content: center;
            align-items: center;

            .image-box-s {
                width: 60%;

                img {
                    border-radius: 19px;
                }
            }

            .sharingan-home-right {
                width: 30%;
                flex-direction: column;
                align-items: center;

                p {
                    width: 298px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                    background: #000;
                    color: #41576B;
                    padding: 18px;
                    line-height: 1.5;
                    border-radius: 13px;
                    letter-spacing: 3px;

                }

                .live-link {
                    background: #000000;
                    width: 70px;
                    text-align: center;
                    height: 36px;
                    padding: 8px 0px;
                    margin-top: 15px;
                    border-radius: 7px;

                    &:hover {
                        transform: scale(1.1);
                        transition: 500ms;
                    }
                }
            }
        }
    }

    .gallery {
        padding-top: 47px;
        align-items: center;

        .mini-image {
            width: 449px;
            margin: 0px 3px;

            img {
                border-radius: 12px;
            }
        }
    }
}



.skills {
    height: 700px;
    align-items: center;



    .s-left {
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 39px;
            color: #950101;
            margin-bottom: 29px;
        }

        p {
            text-align: center;
            width: 514px;
            line-height: 1.2;
            background: #000;
            color: #41576B;
            border-radius: 13px;
            height: 106px;
            padding: 11px;
            letter-spacing: 1.6px;
        }
    }

    .s-right {
        width: 50%;
        flex-direction: column;
        align-items: center;

        progress {
            height: 15px;
            border: none;
        }
    }
}


.contactMe {
    height: 500px;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 39px;
        font-weight: 700;
        margin-bottom: 30px;
        color: #950101;

    }

    p {
        word-spacing: 3px;
        letter-spacing: 0.2px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 30px;
    }

    form {
        flex-direction: column;
        background: #000;
        color: #41576B;
        height: 400px;
        padding: 20px;
        height: 240px;
        border-radius: 13px;

        .form-header {
            input {
                margin: 0 10px;
                padding: 0 15px;
            }
        }

        input {
            border: none;
            height: 35px;
            width: 235px;
        }
    }

    .subject {
        input {
            width: 494px;
            margin-left: 8px;
            margin-top: 20px;
            padding: 0 15px;
        }

    }

    .message {
        input {
            height: 100px !important;
        }
    }

    button {
        width: 128px;
        height: 39px;
        margin: 0 auto;
        margin-top: 20px;

        &:hover {
            transform: scale(1.1);
            background-color: #000;
            color: #41576B;
            border: 1px solid #41576B;
            transition: 500ms;
        }
    }

}


footer {
    height: 70px;
    align-items: center;
    justify-content: center;
    background: #000;

    .footer-img {
        width: 45px;
        margin: 0 10px;
    }
}

















@media (max-width:700px) {
    header {
        flex-direction: column;
        height: 125px;
        justify-content: unset;
        align-items: center;
        height: 120px;

        .logo {
            text-align: center;
        }

        .nav-items {
            padding: 14px;
            border-top: 1px solid white;
        }
    }


    .homesection::before {
        // background: url(./images/mobile-background.jpg);
    }

    .homesection {
        padding-left: 15px;
        height: 555px;

        h2 {
            font-size: 62px;
        }

        h1 {
            font-size: 55px;
        }
    }



    .lodge {
        margin-top: 680px !important;
    }

    .projects {


        .sharingan {
            .sharingan-home {
                flex-direction: column;

                .image-box-s {
                    width: 300px;
                }
            }
        }

        .gallery {
            flex-direction: column;

            .mini-image {
                max-width: 300px;
                margin: 10px 0px;
            }

            .v-h {
                height: 198px;
            }
        }
    }


    .skills {
        height: 610px;
        margin-top: 485px;
        flex-direction: column;

        .s-left {
            width: 100%;

            p {
                width: 338px;
                height: 143px;
            }
        }

        .s-right {
            width: 100%;
            margin-top: 40px;
        }
    }


    .contactMe {
        height: 550px;
        form {
            max-width: 340px;
            height: 295px;
            .form-header {
                display: flex;
                align-items: center;
                flex-direction: column;

                input {
                    margin: 5px 10px;
                }
            }
            .subject{
                input{
                    max-width: 235px;
                }
            }
        }
    }
}