// Gloabl CSS
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;

}

body {
    background: #3D0000;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}



.flex {
    display: flex;
}

header {
    justify-content: space-around;
    background: #000000;
    height: 55px;

    .logo {
        width: 300px;
        padding: 6px;

        a {
            font-family: 'Smooch', cursive;
            font-size: 34px;
            letter-spacing: 2px;
        }

    }

    .nav-items {
        padding: 15px;

        ul {
            li {
                color: #FF0000;
                font-size: 20px;
                letter-spacing: 2.5px;
                margin: 0 10px;
                font-weight: 900;
                align-items: center;
                justify-content: center;
                padding-bottom: 5px;
                font-family: 'Bebas Neue', cursive;

                &:hover {
                    border-bottom: 1px solid #950101;
                }
            }
        }
    }
}

.homesection::before{
    content: '';
     background: url(./images/background.jpg);
     width: 100%;
     height: 100vh;
     position: absolute;
     left: 0;
     z-index: -1;
     background-size: cover;
}


.homesection {
    height: 707px;
    // background: #3D0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 245px;

    h2 {
        color: #950101;
        font-size: 85px;
    }

    h1 {
        color: #950101;
        font-size: 74px;
    }

    p {
        color: #950101;
        letter-spacing: 1.2px;
        font-weight: 600;
    }

    .home-btn {
        background: #000000;
        width: 95px;
        height: 30px;
        padding: 6px;
        border-radius: 3px;
        margin-top: 24px;
        font-weight: 900;
        letter-spacing: 1.2px;

        &:hover {
            transform: scale(1.1);
            transition: 600ms;
        }

        a {
            color: #41576B;

            &:hover {
                color: #FF0000;

            }
        }
    }

}



.projects {
    align-items: center;
    width: 100%;
    height: 700px;
    flex-direction: column;
    background: #3D0000;

    h2 {
        padding: 49px 0px;
        font-size: 39px;
        color: #950101;
    }

    .sharingan {
        .sharingan-home {
            justify-content: center;
            align-items: center;

            .image-box-s {
                width: 60%;

                img {
                    border-radius: 19px;
                }
            }

            .sharingan-home-right {
                width: 30%;
                flex-direction: column;
                align-items: center;

                p {
                    width: 298px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                    background: #000;
                    color: #41576B;
                    padding: 18px;
                    line-height: 1.5;
                    border-radius: 13px;
                    letter-spacing: 3px;

                }

                .live-link {
                    background: #000000;
                    width: 70px;
                    text-align: center;
                    height: 36px;
                    padding: 8px 0px;
                    margin-top: 15px;
                    border-radius: 7px;
                    &:hover{
                        transform: scale(1.1);
                        transition: 500ms;
                    }
                }
            }
        }
    }

    .gallery {
        padding-top: 47px;
        align-items: center;

        .mini-image {
            width: 449px;
            margin: 0px 3px;

            img {
                border-radius: 12px;
            }
        }
    }
}




@media (max-width:700px) {
    header {
        flex-direction: column;
        height: 125px;
        justify-content: unset;
        align-items: center;
        height: 120px;

        .logo {
            text-align: center;
        }

        .nav-items {
            padding: 14px;
            border-top: 1px solid white;
        }
    }


    .homesection::before{
        // background: url(./images/mobile-background.jpg);
    }

    .homesection {
        padding-left: 15px;
        height: 555px;

        h2 {
            font-size: 62px;
        }

        h1 {
            font-size: 55px;
        }
    }




    .projects {
        .sharingan {
            .sharingan-home {
                flex-direction: column;

                .image-box-s {
                    width: 364px;
                }
            }
        }

        .gallery {
            flex-direction: column;

            .mini-image {
                max-width: 300px;
                margin: 10px 0px;
            }
            .v-h{
                height: 198px;  
            }
        }
    }
}