* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
}

body {
  background: #3D0000;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #000000;
  height: 55px;
}

header .logo {
  width: 300px;
  padding: 6px;
}

header .logo a {
  font-family: 'Smooch', cursive;
  font-size: 34px;
  letter-spacing: 2px;
}

header .nav-items {
  padding: 15px;
}

header .nav-items ul li {
  color: #FF0000;
  font-size: 20px;
  letter-spacing: 2.5px;
  margin: 0 10px;
  font-weight: 900;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5px;
  font-family: 'Bebas Neue', cursive;
}

header .nav-items ul li:hover {
  border-bottom: 1px solid #950101;
}

.homesection {
  height: 707px;
  background: #3D0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 245px;
}

.homesection h2 {
  color: #950101;
  font-size: 85px;
}

.homesection h1 {
  color: #950101;
  font-size: 74px;
}

.homesection p {
  color: #950101;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.homesection .home-btn {
  background: #000000;
  width: 95px;
  height: 30px;
  padding: 6px;
  border-radius: 3px;
  margin-top: 24px;
  font-weight: 900;
  letter-spacing: 1.2px;
}

.homesection .home-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.homesection .home-btn a {
  color: #41576B;
}

.homesection .home-btn a:hover {
  color: #FF0000;
}

.projects {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3D0000;
}

.projects h2 {
  padding: 49px 0px;
  font-size: 39px;
  color: #950101;
}

.projects .sharingan .sharingan-home {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .sharingan .sharingan-home .image-box-s {
  width: 60%;
}

.projects .sharingan .sharingan-home .image-box-s img {
  border-radius: 19px;
}

.projects .sharingan .sharingan-home .sharingan-home-right {
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .sharingan .sharingan-home .sharingan-home-right p {
  width: 298px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  background: #000;
  color: #41576B;
  padding: 18px;
  line-height: 1.5;
  border-radius: 13px;
  letter-spacing: 3px;
}

.projects .gallery {
  padding-top: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .gallery .mini-image {
  width: 449px;
  margin: 0px 3px;
}

.projects .gallery .mini-image img {
  border-radius: 12px;
}

@media (max-width: 700px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 125px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px;
  }
  header .logo {
    text-align: center;
  }
  header .nav-items {
    padding: 14px;
    border-top: 1px solid white;
  }
  .homesection {
    padding-left: 15px;
    height: 555px;
  }
  .homesection h2 {
    font-size: 62px;
  }
  .homesection h1 {
    font-size: 55px;
  }
  .projects .sharingan .sharingan-home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .sharingan .sharingan-home .image-box-s {
    width: 364px;
  }
  .projects .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .gallery .mini-image {
    max-width: 300px;
    margin: 10px 0px;
  }
}
/*# sourceMappingURL=style.css.map */